html{
  position:relative; 
  min-height: 100%;
}
body { 
	margin: 0;
	padding: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}
.wishes{
	padding: 5px;
	margin: 5px;
	border-style: solid;
	display: inline-block;
	width: 250px;
	height: 100px;
	overflow-y: hidden;
}